<ul class="list">
    <li><span><a href="">Home</a></span></li>
    <li>
        <span>
            <a routerLink="/todos" title="Pending TODOs">
                Pending TODOs
            </a>
        </span>
    </li>
    <li>
        <span>
            <a routerLink="" title="Done TODOs">
                Done TODOs
            </a>
        </span>
    </li>
    <li class="last">
        <span>
            <a routerLink="" title="Add TODO">
                Add TODO
            </a>
        </span>
    </li>
</ul>
