<ul class="list">
    <li><span><a href="<?php echo Utils::createLink('home'); ?>">Home</a></span></li>
    <li>
        <span>
            <a routerLink="/todos" title="Pending TODOs">
                Pending TODOs
            </a>
        </span>
    </li>
    <li>
        <span>
            <a href="" title="Done TODOs"
                 >Done TODOs</a>
        </span>
    </li>
    <li>
        <span>
            <a href="" title="Voided TODOs"
                 >
                Voided TODOs
            </a>
        </span>
    </li>
    <li class="last">
        <span><a href="" title="Add TODO"
                 ><i class="material-icons new"></i>Add TODO</a>
        </span>
    </li>
</ul>
