<!--The content below is only a placeholder and can be replaced.-->

 <div class="tail-top-right"></div>
 <div id="main">
        <!-- header -->
        <div id="header">
            <i class="material-icons logo">assignment</i>
            <div class="title">
                <h1>TODO List</h1>
            </div>
        </div>
        <!-- content -->
        <div id="content">
            <div class="wrapper">
                <div class="col-1">
                    <div class="box">
                        <div class="inner">
                            <app-sidebar></app-sidebar>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="indent">
                        <div id="content">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div id="footer">
            <div class="indent">
                <div class="fleft"><a href="http://loecos.net/">Loecos Family</a>, 2018 &copy; Copyright Loecos Family., All rights reserved</div>
            </div>
        </div>
</div>